/* estilos globais */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #E4E4E4;
}

body, input, textarea, select, button{
  font: 400 1rem 'Roboto', sans-serif;
}

button{
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container{
  width: 1800px;
  height: 800px;
  display: flex;
  background-color: #fff;
  margin: 4rem;
  border-radius: 0px 160px 0px 0px;
}

.cabecario{
  width: 50%;
  padding: 50px;
}

/* cabecario header */

.cabecario header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* cabecario navegação */

.cabecario nav ul{
  display: flex;
}

.cabecario ul li{
  margin-right: 50px;
  padding: 10px;
}

.cabecario ul .active{
  border: 2px solid #F9E179;
  border-radius: 60%;
  padding-left: 20px;
  padding-right: 20px;
}

/* cabecario main */

.cabecario main{
  width: 100%;
  height: 340px;
  line-height: 150px;
  padding: 2rem 4rem;
}

.cabecario main h3{
  font-size: 12 rem;
  color: #2F2F2F;
  font-family: serif;
}

/* cabecario do conteudo */

.cabecario .conteudo{
  padding: 2rem 4rem;
  margin-right: 13rem;
  line-height: 30px;
}

.cabecario .conteudo p{
  color: #3D3D3D;
  font-weight: bold;
}

/* cabecario botao */

.cabecario .botao {
  padding: 0 4rem;
}

.cabecario .botao button{
  padding: 20px 30px;
  border: none;
  background-color: #F9E179;
  color: #000;
  font-weight: bold;
}

/* cabecario footer */

.cabecario footer{
  display: flex;
  padding: 2rem 4rem;
}

.cabecario footer p{
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}

.cabecario footer .p-hours{
  border-left: 2px solid #000;
  margin-left: 20px;
  padding-left: 20px;
}

/* imagem */

.imagem{
  width: 50%;
  background-image: url('./images/woody-kelly-Tv1_5KyO57o-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 0px 160px 0px 0px;
}

.imagem button{
  position: absolute;
  right: 160px;
  top: 40px;
  padding: 10px 40px;
  background-color: #2F2F2F;
  border: none;
  color: rgba(255, 255, 255, 0.671);
  font-size: 1.2rem;
}
